:root {
    --red: #EC2324;
    --lightYellow: #FFF100;
    --mustard: #F2CB05;
    --darkMustard: #BF8924;
    --orange: #F37420;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 40px;
    padding: 0.5rem;
    background-color: var(--darkMustard);
}

header img {
    width: 500px;
}

header a {
    text-decoration: none;
    color: var(--white);
}

header a:hover {
    background-color: var(--red);
    padding: 1rem;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}