@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --red: #EC2324;
    --lightYellow: #FFF100;
    --mustard: #F2CB05;
    --darkMustard: #BF8924;
    --orange: #F37420;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 40px;
    padding: 0.5rem;
    background-color: var(--darkMustard);
}

header img {
    width: 300px;
}

header a {
    text-decoration: none;
    color: var(--white);
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

header a:hover {
    background-color: var(--red);
    padding: 1rem;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: var(--black);
}

.card img {
    width: 100%;
    height: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: contain;
}

#imgPlanet{
    width: 100%;
    height: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
}

.card-img-top {
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.2);
}

.card {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.card .card-title {
    color: var(--darkMustard);
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

span {
    color: var(--red);
}

footer img {
    width: 50px;
}

footer {
    background-color: var(--darkMustard);
    color: var(--white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}

.social img {
    transition: transform 0.5s ease;
}

.social img:hover {
    transform: scale(1.2);
}